<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title data-th-text="${loggedInUser.name}+'| Dashboared'">Profile Page</title>
  </head>
  <body>
<div id="content">
<!-- sidebar -->

<!-- user is logged in :sidebar -->
<div th:if="${loggedInUser}">
    <div data-th-replace="~{user/sidebar::sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-4"  style="height: 1000px">
      <div class="flex justify-center flex-col items-center">
        <h1 class="text-5xl">Welcome to Dashboard</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
          obcaecati delectus
        </p>
      </div>
    </div>

</div>
    <script>
      console.log("Home page cosole");
    </script>
  </body>
</html>
