<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <div class="position:relative" id="content">
      <h1>Welcome to Home Page</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
        obcaecati delectus, magni harum, consectetur dolores minima quaerat,
        dolore facilis earum enim cupiditate doloribus explicabo veniam soluta
        optio voluptates quibusdam ullam.
      </p>
    </div>
    <script>
      console.log("Home page cosole");
    </script>
  </body>
</html>
