<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
  <head>
    <title>Services page</title>
  </head>
  <body>
    <section id="content">
      <h1>Welcome to Services Page</h1>
      <h2>Services ogfferd by me</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
        obcaecati delectus, magni harum, consectetur dolores minima quaerat,
        dolore facilis earum enim cupiditate doloribus explicabo veniam soluta
        optio voluptates quibusdam ullam.
      </p>
    </section>
  </body>
</html>
